# Database Connections (Neon PostgreSQL)
DATABASE_URL="postgresql://user:password@endpoint.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://user:password@endpoint.neon.tech/neondb?sslmode=require"

# Auth.js / NextAuth Secrets
NEXTAUTH_SECRET="your_nextauth_secret_32_characters_long"
NEXTAUTH_URL="http://localhost:3000"
